@let(nameInitials = $props.get('initials'))
{{-- Injecting the Animus style here! --}}
@let(classes = ['animus-avatar'])

@if($props.get('src'))
<img {{ $props .except(['initials', 'name' ]) .merge({ class: classes }) .toAttrs() }}>
@elseif(nameInitials)
<span {{ $props .except(['initials', 'name' , 'src' ]) .merge({ class: classes }) .toAttrs() }}>
  {{ nameInitials.toUpperCase() }}
</span>
@end