<nav>
  <div class="nav-left">
    
    <div class="nav-links">
      <a href="{{ route('games.index') }}">Database</a>
      <a href="{{ route('characters.index') }}">Personnel</a>
    </div>
  </div>
</nav>