@component('components/layout/app', { title: 'Animus Central Hub' })

{{-- 4. Banner Rectangle --}}
<section class="banner-rect">
    <img src="/images/AC Shadows_Fan Kit_Key Art_Standard_Full.jpg" alt="Banner" />
</section>
@end